
    <h3>Quiz: El juego de las preguntas</h3>
    <form method="get" action="/quizes/answer">
    Pregunta: <%= pregunta %>
    <input type="text" name="respuesta" value="Responda aquí" />
    <input type="submit" value="Enviar" />
    </form>
